.App {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.ChallengesWrapper {
  flex-wrap: wrap;
}

.Challenge {
  width: 150px;
}

.ChallengeSolutionWrapper {
  outline-style: solid;
  text-align: center;
  padding: 20px;
}

.Button {
  padding: 8px 12px 8px 12px;
}
